.appointment-container {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .appointment-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: lightblue; /* Add background color on hover */
  }

  .appointment-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0 20px;
  }

  .appointment-controls input[type="text"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .appointment-controls button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }

  .appointment-controls button:hover {
    background-color: #0056b3;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 20px;
  }

  .appointment-container p {
    margin: 0;
  }

  .appointment-container p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .edit-icon,
  .delete-icon {
    margin-top: 5px;
    display: inline-block;
    padding: 5px 8px;
    background-color: #ccc;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 5px;
  }

  .edit-icon:hover,
  .delete-icon:hover {
    background-color: #aaa;
  }
