.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.8)
      ),
      url("../img/er_room.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .home-text {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bolder;
  }

  .home-buttons {
    display: flex;
    gap: 10px;
  }

  .home-button {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
  }

  .home-button:hover {
    background-color: #0056b3;
  }
