.navbar-container {
    background-color: lightblue;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }

  .navbar-icons {
    display: flex;
    align-items: center;
  }

  .navbar-appointment-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px;
  }

  .navbar-appointment-icon {
    font-size: 20px;
    margin-right: 5px;
  }

  .navbar-appointment-count {
    background-color: #ffffff;
    color: #3b82f6;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50%;
  }

  .navbar-dropdown {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
  }

  .navbar-dropdown-content {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-dropdown-content p {
    margin: 0;
    margin-bottom: 10px;
  }

  .navbar-dropdown-content a {
    display: block;
    text-decoration: none;
    color: #333333;
    margin-bottom: 5px;
  }

  .navbar-dropdown-content button {
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  .navbar-dropdown-content button:hover {
    background-color: #1d4ed8;
  }
